<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>하루</title>
    
</head>
<body>
    
        <section>
            <h1>나의 하루</h1>
            <div>
               
            </div>
            <div >
                
            </div>
            <div>
               
                <ul>
                    <li>기상</li>
                    <li>학원 출발</li>
                    <li>학원 도착</li>
                    
                </ul>
            </div>
            <div>
               
                <ul>
                    <li>오전 수업 시작</li>
                    <li>공부를 합니다</li>
                    <li>점심 시간</li>
                    <li>휴식하면서 시간을 보냅니다</li>
                    <li>오후 수업 시작</li>
                    <li>공부를 열심히 합니다.</li>
                    <li>오후 수업 종료</li>
                </ul>
                <ul>    
                    <li>귀가 시간</li>
                    <li>즐거운 저녁 시간</li>
                    <li>하루를 마무리하는 시간을 보냅니다.</li>
                    <li>취침 시간</li>              
                </ul>
                
            </div>
        </section>
        <aside>
            <h1>History</h1>
            <div >
                <li>2020년 02월 18일이 지나갑니다.</li>
            </div>
        </aside>
    </div>
</body>
</html>